.main {
  display: flex;
  justify-content: center;
  background: url('../../public/images/crew/background-crew-desktop.jpg')lightgray 0px 0px / 100% 100% no-repeat;
  background-size: cover;
  height: 100dvh;
  min-width: 90rem;
  width: 100%;
}

.crewHeading {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.29531rem;
  text-transform: uppercase;
  margin-top: 14rem;
}

.contentNavContainer {
  position: absolute;
}


.num {
  opacity: 0.25;
  font-weight: 700;
  margin-right: 1.5rem;
}

.navContainer {
  position: absolute;
  bottom: calc(2rem + 5dvh);
}
