* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { 
  background-color: #0B0D17;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 131.25rem;
  position: relative;
  height: 100dvh;
}
