* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { 
  background-color: #0B0D17;
}

body {
  overscroll-behavior: none;
  max-width: 2100px;
}
/* body {
  background: url('../public/images/home/background-home-desktop.jpg') no-repeat center center fixed; 
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  margin: 0 auto;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: calc(100vh - 1rem);
  max-width: 2100px;
} */

/* li style a is shared in within header and destinations/layout.js */
.li {
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

.li:visited {
  color: #FFF;
}
/* ************************** */

/* used in destination/layout.js */
.heading-nav-container {
  border: 2px solid lime;
  display: flex;
}

.destination-heading {
  border: 2px solid blue;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.29531rem;
}
/* ************************* */