.bgImageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:calc(100vh - 1rem);
  background: url('../public/images/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: -1;
}


.main {
  display: flex;
  gap: 20rem;
  justify-content: center;
  margin-top: calc(100vh - 36rem);
  min-width: 90rem;
  z-index: 10;
}

.leftContentContainer {
  height: 24rem;
}

.heading {
  color: #D0D6F9;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.29531rem;
}

.spaceText {
  color: #FFF;
  font-size: 9.375rem;
  display: block;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.article {
  color: #D0D6F9;
  font-size: 1.125rem;
  line-height: 2rem;
  width: 27.75rem;
}

.exploreContainer{
  border-radius: 50%;
  border: 5rem solid transparent;
  display: flex;
  margin-top: 4rem;
  width: 24rem;
  height: 24rem;
  justify-content: center;
  align-items: center;
}

.exploreContainer:hover {
  border: 5rem solid #31323b;
  transition: .8s ease-in-out;
}
