.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: url('../public/images/home/background-home-desktop.jpg') lightgray 0px 0px / 100% 100% no-repeat;
  /* border: 2px solid blue; */
  height: 100dvh;
  width: 100%;
}

.mainContentContainer {
  display: flex;
  align-items: center;
  /* border: 2px solid darkkhaki; */
  gap: 20rem;
  margin-top: calc(100dvh - 73dvh);
}

.leftContentContainer {
  height: 24rem;
  /* border: 2px solid mediumspringgreen; */
}

.heading { 
  color: #D0D6F9;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.29531rem;
  text-transform: uppercase;
}

.spaceText {
  color: #FFF;
  font-size: 9.375rem;
  display: block;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.article {
  color: #D0D6F9;
  font-size: 1.125rem;
  line-height: 2rem;
  width: 27.75rem;
}

.exploreContainer{
  border-radius: 50%;
  border: 5rem solid transparent;
  display: flex;
  margin-top: 4rem;
  width: 24rem;
  height: 24rem;
  justify-content: center;
  align-items: center;
  /* border: 2px solid mediumspringgreen; */
}

.exploreContainer:hover {
  border: 5rem solid #31323b;
  cursor: pointer;
  transition: .8s ease-in-out;
}
