.main {
  display: flex;
  gap: 10rem;
  align-items: flex-end;
  border: 2px solid red;
  justify-content: flex-end;
  min-height: 900px;
}

.leftContentContainer {
  /* border: 2px solid lawngreen; */
  min-width: 27.8125rem;
  /* padding-left: 10.3125rem;
  padding-right: 1.5275rem;
  min-width: 700px; */
  /* padding-bottom: 10rem; */
}

.headingContainer {
  /* border: 2px solid red; */
}

.heading {
  /* border: 2px solid blue; */
  color: #D0D6F9;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.29531rem;
}

.spaceText {
  /* border: 2px solid blueviolet; */
  color: #FFF;
  font-size: 9.375rem;
  display: block;
}

.article {
  /* border: 2px solid greenyellow; */
  color: #D0D6F9;
  font-size: 1.125rem;
  line-height: 2rem;
  width: 27.75rem;
}

.rightContentContainer {
  /* border: 1px solid #FFF; */
  width: 17.125rem;
  height: 17.125rem;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.explore {
  color: #0B0D17;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-decoration: none;
}

