.container {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.heading {
  color: #D0D6F9;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
  margin-bottom: 0.69rem;
}

.name {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.06rem;
}

.description {
  max-width: 27.75rem;
  color: #D0D6F9;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.imageContainer {
  object-fit: contain;
  background: #0B0D17;
}

.image {
}