.container {
  /* border: 2px solid #FFF; */
  display: flex;
  align-items: center;
  /* gap: 6rem; */
}

.info {
  /* border: 2px solid salmon; */
  /* grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5; */
  /* width: 30.5rem; */
  /* grid-column: 1;
  grid-row: 1;
  justify-self: center; */
  /* flex-grow: 1;
  flex-shrink: 1; */
}

.role {
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5042;
  /* border: 2px solid skyblue; */
}

.name {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  /* border: 2px solid limegreen; */
  min-width: 38.9rem;
  margin-top: 1rem;

  margin-bottom: 1.7rem;
}

.bio {
  max-width: 27.75rem;
  color: #D0D6F9;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  /* border: 2px solid magenta; */
}

.imageContainer {
  /* position: absolute; */
  /* border: 2px solid blue; */
  object-fit: contain;
  /* min-width: 38.5rem; */
}

.image {
  width: 100%;
  /* position: absolute; */
}