.container {
  display: flex;
  align-items: center;
  min-height: 37.5rem;
  min-width:31.4375rem;
}

.role {
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5042;
}

.name {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 38.9rem;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.bio {
  max-width: 27.75rem;
  color: #D0D6F9;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.imageContainer {
  object-fit: contain;
}

.image {
  width: 100%;
}